
*{
    margin: 0px;
    padding: 0px;
}

@font-face {
  font-family: 'Barbra';
  src: url('Fonts/Barbra-High.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
    --cor01: black;
    --cor02: #96ac60;
    --cor03: #445a14;
    --cor04: #d9ef9f;
}

html, body {
    height: 100%;
    margin: 0;
}

header{
    background-color: var(--cor02);
    padding: 5px 0px 5px 25px;
}

header h1{
    color: var(--cor01);
    font-family: 'Barbra';
}

nav a{
    text-decoration: none;
    color: var(--cor01);
    padding-right: 5px;
    padding-left: 5px;
}

nav a:hover{
    background-color: var(--cor03);
    color: white;
    border-radius: 10px;
}
body{
    background-color: var(--cor04);
    display: flex;
    flex-direction: column;
}

main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    padding: 10px;
    flex:1;
}

main h2{
    padding-top: 5px;
}

main img{
    width: 100%;
}

main ul{
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor03);
    text-align: center;
    color: white;
}

footer > p > a{
    text-decoration: none;
    color: white
}

footer > p > a:hover{
    text-decoration: underline;
}



